<launch>
    <!-- Demostración de lo que realiza el script que orienta los TF

Lo ultimo se encuentra en platform_bringup/tof_nav_smach.launch, ya configurado para trabajar con parámetros dados por los scripts de la TOF
-->

    <include file="$(find turtle_tf)/launch/turtle_tf_demo.launch" />

    <node name="tortuga_prueba" pkg="nav_to_people" type="velocity_tf_PLUS_orientation.py" output="screen" >
       <param name="fixframe" type="string" value="world" />
       <param name="movframe" type="string" value="turtle1" />
    </node>


</launch>
