<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="meka" >

 <property name="M_PI" value="3.1415926535897931" />

 
 <property name="MESH" value="meka_description/meshes/mid_res" />
 <property name="MESH_COLL" value="meka_description/meshes/low_res" />

<!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->
  <xacro:include filename="$(find meka_description)/gazebo/gazebo.urdf.xacro" />
  <!--<xacro:include filename="$(find meka_description)/transmissions/uta.transmission.xacro" />-->


<!-- Meka Arm -->
  <xacro:include filename="$(find meka_description)/urdf/A2R4_r_arm_defs.urdf.xacro" />

  <xacro:include filename="$(find meka_description)/urdf/A2R4_l_arm_defs.urdf.xacro" />
  

  <!-- Meka Hand -->
  <xacro:include filename="$(find meka_description)/urdf/H2R4_r_hand_fixed_defs.urdf.xacro" />

  <xacro:include filename="$(find meka_description)/urdf/H2R4_l_hand_fixed_defs.urdf.xacro" />

  <!-- john added transmissions -->
  <xacro:include filename="$(find meka_description)/transmissions/A2R4_r_arm_defs.transmission.xacro" />
  <!--<xacro:include filename="$(find meka_description)/transmissions/H2R2_r_hand_defs.transmission.xacro" />-->
  <!--<xacro:include filename="$(find meka_description)/transmissions/S2R1_head_defs.transmission.xacro" />-->


   <property name="M_PI" value="3.1415926535897931" />
  <material name="GreyA"> <!-- darkest -->
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>
  
  <material name="GreyB">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  
  <material name="GreyC">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  


  <!-- john added transmissions -->
  <m3_r_arm_transmission side="r" reflect="1" parent="upper"/>
  <m3_r_hand_transmission/>
  
  <m3_r_hand side="r" reflect="1" parent="handmount_RIGHT">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
  </m3_r_hand>

 <m3_r_arm side="r" reflect="1" parent="upper">
    <origin xyz="0.0 -0.18465 0.2337" rpy="0 0 0" />
  </m3_r_arm>

  <m3_l_hand side="l" reflect="1" parent="handmount_LEFT">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
  </m3_l_hand>
  
   <m3_l_arm side="l" reflect="1" parent="upper">
    <origin xyz="0.0 0.18465 0.2337" rpy="0 0 0" />
  </m3_l_arm>
  
  
  <link name="world" />

  <link name="base_link" />
  <!-- Solid Base -->
  <joint name="base_joint" type="fixed">
	  <origin xyz="0 0 1" rpy="0 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>

    <link name="robot_link" />
    <joint name="robot_joint" type="fixed">
        <origin xyz="0.0 0.0 0.2" rpy="0 0 0"/>
        <parent link="base_link" />
        <child link="robot_link" />
    </joint>
    
    <link name="swiss_link" />
    <joint name="swiss_joint" type="fixed">
        <origin xyz="0.085 -0.062 0.385" rpy="-2.272 0.001 -1.547"/>
        <parent link="base_link" />
        <child link="swiss_link" />
    </joint>
    
    <link name="swiss2_link" />
    <joint name="swiss2_joint" type="fixed">
        <!--origin xyz="0.0 0.087 0.44" rpy="-1.57 0.0 -1.57"/-->
	<!-- si la camara esta horizontal -->
        <!-- origin xyz="0.028 0.070 0.446" rpy="-1.57 -0.06 -1.57"/ -->

	<!-- si la camara esta mirando hacia abajo -->
        <!-- origin xyz="0.13 0.070 0.34" rpy="-2.61 0 -1.57" /-->
	<!-- origin xyz="0.18 0.03 0.46" rpy="-2.61 0 -1.57" /-->
	<origin xyz="0.0 0.05 0.34" rpy="-2.10 0 -1.57"  />

        <parent link="base_link" />
        <child link="swiss2_link" />
    </joint>
    
    <link name="prosilica_link" />
    <joint name="prosilica_joint" type="fixed">
        <!--origin xyz="0.088 0.064 0.352" rpy="-2.984 -0.159 1.58"/ -->
        <!--<origin xyz="0.030 0.064 0.393" rpy="-1.60 -0.06 -1.57"/>-->
	<origin xyz="0.030 0.064 0.393" rpy="-2.370 -0.0 -1.57"/>
        <parent link="base_link" />
        <child link="prosilica_link" />
    </joint>
    

  <!-- Solid Base -->
  <joint name="chest_joint" type="fixed">
	  <origin xyz="0 0 -0.03" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="upper" />
  </joint>
  <link name="upper">
	  <inertial>
		  <mass value="1000" />
		  <origin xyz="0 0 0" />
		  <inertia ixx="1000"  ixy="0"  ixz="0" iyy="1000" iyz="0" izz="1000" />
	  </inertial>
	  <visual>
		  <material name="GreyC" />
		  <origin xyz="0 0 0" rpy="0 0 0" />
		  <geometry name="upper_geom">
			  <mesh filename="package://${MESH}/A2R3/A2R3_T4_Chest_Neck.dae" />
		  </geometry>
		  <material name="Blue" />
	  </visual>
	  <collision>
		  <origin xyz="0 0 0" rpy="0.0 0.0 0.0 " />
		  <geometry name="upper_collision_geom">
			  <mesh filename="package://${MESH_COLL}/A2R3/A2R3_T4_Chest_Neck.stl" />
		  </geometry>
	  </collision>
  </link>

</robot>
  
