<launch>



<!-- spawn general model for Meka and kinect -->
  <arg name="meka_model" default="$(find meka_description)/robots/uja_kinect.urdf.xacro" />
  <param name="meka_description" command="$(find xacro)/xacro.py '$(arg meka_model)'" />

  <param name="use_gui" value="true"/>

<!-- esta linea sirve para publicar los joint_states cuando NO hay robot o simulador -->
 <node name="joint_state_publisher_meka" pkg="joint_state_publisher"  type="joint_state_publisher" >
	<remap from="robot_description" to="meka_description" />
	<remap from="joint_states" to="meka/humanoid_state" />
	<param name="~tf_prefix" value="meka" type="str"/>
</node>


<!-- robot state publisher node -->
<node pkg="robot_state_publisher" type="state_publisher" name="meka_state_publisher">
	<remap from="robot_description" to="meka_description" />
	<remap from="joint_states" to="meka/humanoid_state" />
  	<param name="~tf_prefix" value="meka" type="str"/>
</node>

<node pkg="rviz" type="rviz" respawn="false" output="screen" name="rviz"
   	 args="-d '$(find pmb2_grav_2dnav)/rviz/mekaYPMB2.rviz'" required="true" />

<node pkg="tf" type="static_transform_publisher" name="meka_PMB2_joint_broadcaster" args="0 0 0.2 0 0 0 base_link meka/base_link 100" />

<!-- Incluimos la navegación en PMB2 suponiendo que ya está lanzado los sensores
    <include file="$(find pmb2_grav_2dnav)/launch/navegacion_en_pmb2.launch" />-->
    

</launch>
